@charset "UTF-8";
/*------------------------
   Functions
------------------------*/
/*------------------------
   Variables
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,400i");
@import url("https://fonts.googleapis.com/css?family=Lato");
a {
  border-bottom: 2px solid #0ecccc;
  text-decoration: none; }

nav a {
  border-bottom: none; }

/*------------------------
 Global
------------------------*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  text-rendering: geometricPrecision;
  word-wrap: break-word; }

h1, h2, h3, h4, h5, h6, p.site-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
input,
optgroup,
select,
textarea,
dl,
iframe, img, embed, video, .video-player, object, figure {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }

ol, ul {
  margin: 0;
  padding-left: 1.618rem; }

ul {
  list-style-type: disc;
  list-style-position: outside; }

ol {
  list-style-type: decimal;
  list-style-position: outside; }

ul ul, ol ul {
  list-style-type: circle;
  list-style-position: outside; }

ol ol, ul ol {
  list-style-type: lower-latin;
  list-style-position: outside; }

li {
  display: list-item; }

a,
button {
  transition: .5s; }

a {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  text-decoration: none; }
  a:hover, a:active {
    outline: none; }

a:active, a:focus {
  outline: none; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  overflow: visible;
  -webkit-font-smoothing: inherit; }
  button:focus {
    querytheme: 0; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

iframe, img, embed, video, .video-player, object, figure, select {
  border: 0;
  max-width: 100%; }

select {
  overflow: hidden; }

img, figure {
  height: auto; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

b,
strong {
  font-weight: bold; }

strike, del {
  text-decoration: line-through; }

abbr[title], abbr[data-original-title], acronym {
  border: none;
  cursor: help; }

dfn {
  font-style: italic; }

small {
  font-size: .8em; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ins {
  display: inline-block;
  text-decoration: none; }

ins:before {
  content: '['; }

ins:after {
  content: ']'; }

pre {
  overflow-x: scroll;
  -ms-word-wrap: normal;
  word-wrap: normal; }

pre, kbd, code, var, tt, samp {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-style: normal;
  margin: 1.618rem 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0 4px 0 0; }

/* Keep Deprecated tags from screwing things up*/
big {
  font-size: 1em; }

/*------------------------------
   Clearing + Box Sizing
--------------------------------*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section:after,
.group:after,
.wrapper:after {
  content: "";
  clear: both;
  display: table; }

.wrapper {
  width: 100%;
  padding: 1.618rem;
  position: relative;
  z-index: 1; }

.wrapper > div {
  max-width: 1200px;
  margin: 0 auto; }

section {
  margin: 1.618rem auto 3.236rem; }

/*------------------------
   Guide
------------------------*/
.footer,
#masthead span,
h3.guide {
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  color: rgba(50, 51, 57, 0.7);
  font-family: 'Lato', sans-serif;
  letter-spacing: .5em;
  text-transform: uppercase;
  font-size: 12px;
  margin: 1.618rem 0;
  padding: 0.4045rem 0; }

.headings {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.body {
  font-family: 'Cardo', serif; }

/*------------------------
   General
------------------------*/
.wrapper.masthead {
  padding-top: 6.472rem;
  text-align: center; }

#masthead span {
  display: block;
  border-bottom: none;
  border-top: none;
  margin: 0.20225rem 0;
  padding: 0; }

#masthead img {
  display: inline-block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%; }

#print-page-button {
  text-align: center; }

/*------------------------
   Typography
------------------------*/
html {
  font-size: 18px; }

body {
  color: #323339;
  font-family: 'Cardo', serif;
  line-height: 1.618rem; }

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
  position: relative;
  margin: 1em 0; }

h1 {
  font-size: 3.7698629185rem; }

h2 {
  font-size: 2.32995236rem; }

h3 {
  font-size: 1.55002rem; }

h4 {
  font-size: .89rem; }

h5 {
  font-size: .809rem; }

h6 {
  font-size: .788rem; }

p {
  margin: 0 0 1.618rem; }

blockquote {
  margin: 3.236rem auto;
  width: 80%;
  quotes: "“" "”"; }

blockquote:before {
  content: open-quote; }

blockquote:after {
  content: close-quote; }

/*------------------------
  Navigation
------------------------*/
.wrapper.nav {
  background: #323339;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: fixed;
  z-index: 99;
  left: 0; }

.wrapper > nav {
  max-width: 1200px;
  margin: 0; }

.slicknav_menu ul {
  padding-left: 0; }

.slicknav_menu li {
  list-style: none;
  background: rgba(9, 132, 132, 0.4);
  padding: 0.4045rem 1.618rem; }

.slicknav_menu li:nth-of-type(2n) {
  background: rgba(9, 132, 132, 0.2); }

#menu {
  display: none;
  padding-left: 0; }

#menu li {
  list-style: none;
  display: inline-block;
  margin-right: 1.618rem; }

/*------------------------
  Branding
------------------------*/
.logo,
.logo-alt {
  border: 1px solid #E0E0E0;
  display: block;
  margin: 0.809rem auto;
  text-align: center; }

.logo-alt {
  height: 0;
  overflow: hidden; }

.logo-a {
  margin: 0.809rem 0; }

.logo-alt img {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.asset-download {
  text-align: right; }

/*------------------------------
   Palette
--------------------------------*/
#colors ul {
  padding-left: 0; }

#colors li {
  border: 2px solid #E0E0E0;
  display: block;
  height: 300px;
  margin: 0.809rem auto;
  width: 100%; }

#colors li:last-of-type {
  margin-right: 0; }

.color-box {
  position: relative;
  width: 100%;
  height: 100%; }

.color-box .detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ffe6f0; }

.primary .color-box {
  background-color: #0ecccc; }

.secondary .color-box {
  background-color: #637f98; }

.action .color-box {
  background-color: #d11855; }

.highlight .color-box {
  background-color: #ffe6f0; }

.ltext .color-box {
  background-color: #ffffff; }

.dtext .color-box {
  background-color: #323339; }

.color-box .detail .alt {
  height: 40px;
  width: 100%; }

.color-box .detail .alt span {
  display: block;
  float: left;
  width: 50%;
  margin: 0;
  height: 80px;
  position: relative; }

.color-box .detail .alt span.hex,
.color-box .detail .alt span.rgb {
  color: #323339;
  display: block;
  font-family: 'Lato', sans-serif;
  letter-spacing: .5em;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em;
  height: 14px;
  width: 100%; }

.color-box .detail .alt span.hex label,
.color-box .detail .alt span.rgb label {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 2px; }

.color-box .detail .alt span.rgb label {
  font-size: 9px;
  letter-spacing: 0; }

.color-box .detail .labels {
  text-align: left;
  font-family: 'Lato', sans-serif;
  letter-spacing: .5em;
  text-transform: uppercase;
  padding-left: 8px; }

.color-box .detail .labels span.hex,
.color-box .detail .labels span.rgb,
.color-box .detail .labels span.cmyk {
  font-size: 12px;
  display: block;
  letter-spacing: .2em; }

.color-box .detail .labels span.cmyk {
  font-size: 9px; }

.primary .color-box .detail .alt span.alt-a {
  background-color: #0a9393; }

.primary .color-box .detail .alt span.alt-b {
  background-color: #27f0f0; }

.secondary .color-box .detail .alt span.alt-a {
  background-color: #4b6073; }

.secondary .color-box .detail .alt span.alt-b {
  background-color: #879db1; }

.action .color-box .detail .alt span.alt-a {
  background-color: #9a123f; }

.action .color-box .detail .alt span.alt-b {
  background-color: #e93d76; }

.highlight .color-box .detail .alt span.alt-a {
  background-color: #ffa9cb; }

.highlight .color-box .detail .alt span.alt-b {
  background-color: white; }

.ltext .color-box .detail .alt span.alt-a {
  background-color: #e0e0e0; }

.ltext .color-box .detail .alt span.alt-b {
  background-color: white; }

.dtext .color-box .detail .alt span.alt-a {
  background-color: #151618; }

.dtext .color-box .detail .alt span.alt-b {
  background-color: #4f505a; }

/*------------------------
   Buttons
------------------------*/
span.btn-wrap {
  display: block; }

a.btn {
  display: inline-block;
  clear: both;
  line-height: 3.236rem;
  padding: 0 1.618rem;
  text-align: center;
  margin: 0.4045rem 0.809rem 0.4045rem 0;
  -moz-transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-size: 2px;
  border-style: solid;
  border-color: #323339;
  background: #ffffff;
  color: #323339; }

a.btn.medium {
  line-height: 2.427rem;
  padding: 0 0.809rem;
  font-size: .8rem; }

a.btn.small {
  line-height: 1.618rem;
  padding: 0 0.4045rem;
  font-size: .618rem; }

a.btn.btn-primary {
  border-size: 2px;
  border-style: solid;
  border-color: #0ecccc;
  background: #0ecccc;
  color: #ffffff; }
  a.btn.btn-primary:hover {
    border-color: #0a9393;
    background: #0a9393; }

a.btn.btn-secondary {
  border-size: 2px;
  border-style: solid;
  border-color: #637f98;
  background: #637f98;
  color: #ffffff; }
  a.btn.btn-secondary:hover {
    border-color: #4b6073;
    background: #4b6073; }

/*------------------------
  Forms
------------------------*/
label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 11px; }

select,
option,
input {
  line-height: 2.427rem;
  height: 2.427rem;
  padding: 0 1.618rem;
  font-size: .825rem;
  display: block;
  margin: 0 0 1.618rem; }
  select:focus,
  option:focus,
  input:focus {
    outline: none; }

/*------------------------
   Github Ribbon
   modified from: https://codepo8.github.io/css-fork-on-github-ribbon/
------------------------*/
.wrapper.nav {
  top: 41px; }

#forkongithub {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 41px;
  width: 100%;
  z-index: 99999; }

#forkongithub a {
  background: #0ecccc;
  color: #ffffff;
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 5px 40px;
  font-size: 14px;
  line-height: 1.618rem;
  position: relative;
  transition: 0.5s;
  width: 100%; }

#forkongithub a:hover {
  background: #637f98;
  color: #ffffff; }

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  background: #ffffff; }

#forkongithub a::before {
  top: 4px; }

#forkongithub a::after {
  bottom: 2px; }

/*------------------------
   @Media Queries
------------------------*/
@media all and (min-width: 800px) {
  #colors li {
    clear: none;
    float: left;
    width: 32%;
    margin-right: 2%; }
  #colors li:nth-of-type(3n) {
    margin-right: 0; }
  .logo-a img {
    max-width: 60%; }
  .logo-alt img {
    max-width: 80%; }
  .wrapper.nav {
    top: 0; }
  #forkongithub {
    position: fixed;
    display: block;
    top: 0px;
    right: 0;
    left: unset;
    width: 300px;
    overflow: hidden;
    height: 200px;
    z-index: 99999; }
  #forkongithub a {
    width: 300px;
    position: absolute;
    font-size: 11px;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 99999; } }

@media all and (min-width: 960px) {
  .slicknav_menu {
    display: none; }
  #menu {
    display: block; }
  .logo-alt {
    float: left;
    width: 49%;
    margin-right: 2%; }
  .logo-alt.logo-c {
    margin-right: 0; } }

@media all and (min-width: 1050px) {
  span.btn-wrap {
    display: inline; } }

@media all and (min-width: 1200px) {
  #colors li {
    float: left;
    width: 15%;
    margin-right: 2%; }
  #colors li:nth-of-type(3n) {
    margin-right: 2%; }
  #colors li:last-of-type {
    margin-right: 0; } }

/*------------------------
   @Media Print Queries
--------------------------*/
@media print {
  .wrapper.masthead {
    padding-top: 0; }
  .wrapper.masthead section {
    margin: 0; }
  #masthead img {
    max-width: 260px; }
  .break-page-before {
    page-break-before: always; }
  .break-page-after {
    page-break-after: always; }
  .logo-a img {
    max-width: 60%; }
  .logo-alt img {
    max-width: 60%; }
  #forkongithub,
  #menu,
  .wrapper.nav,
  .slicknav_menu,
  .asset-download,
  #print-page-button {
    display: none; }
  #colors li {
    float: left;
    width: 32%;
    margin-right: 2%; }
  #colors li:nth-of-type(3n) {
    margin-right: 0; }
  .logo-alt {
    float: left;
    width: 49%;
    margin-right: 2%; }
  .logo-alt.logo-c {
    margin-right: 0; } }

/*------------------------
   Client Specific Styles
------------------------*/
